body {
	font-family: "Lato", "Helvetica Neue", "sans-serif";
	font-size: 18px;
	font-weight: 300;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}

a:link {
	color: #0000AA;
	text-decoration: none;
}

a:visited {
	color: #0000AA;
	text-decoration: none;
}

a:hover {
	color: #0000EE;
}

a:active {
	color: #0000EE;
}

header {
	font-family: "Raleway", "Helvetica Neue", "sans-serif";
	font-weight: 300;
	padding: 1em;
	background-color: #FA5A0F;
	border-bottom-color: #EA4A00;
	border-bottom-width: 5px;
	font-color: #FFFFFF;
}

toplevel {
	font-size: 300%;
	margin: 0;
}

secondlevel {
	font-color: #505050;
	font-size: 125%;
}

thirdlevel {
	font-color: #505050;
	font-size: 125%;

}

element {

}

info {
	padding: 1em;
}

main {
	margin-left: 30%;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-image: url("../img/ricepaper_v3.png");
	opacity: 0.9;
}

aboutus {
	padding: 1em;
}

menu {
	padding: 1em;
	background-color: #CFCD8C;
	opacity: 0.5;
}